*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.calculator{
    display: flex;
   
    height: 100%;
    width: 100vh;
    border: 2px solid #000;
    flex-direction: column;
    background-color: #f1f1f1;
    justify-content: center;
    margin: auto;
    align-items: center;
}
.calculator h1{
    font-size: 2rem;
    margin-bottom: 1rem;
}
.calculator .display{
    width: 100%;
    height: 100px;
    background-color: #fff;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 1rem;
    font-size: 2rem;
    border-bottom: 2px solid #000;
}
.calculator .keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1px;
}
.calculator .keys button{
    width: 100%;
    height: 100%;
    font-size: 2rem;
    background-color: #fff;
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.calculator .keys button:hover{
    background-color: #f1f1f1;
}
.calculator .keys button.operator{
    background-color: #f1f1f1;
}
.calculator .keys button.double{
    grid-column: span 2;
}
.calculator .keys button.clear{
    background-color: #f00;
    color: #fff;
}
.calculator .keys button.clear:hover{
    background-color: #ff0000;
}
.calculator .keys button.equal{
    background-color: #00f;
    color: #fff;
}
.calculator .keys button.equal:hover{
    background-color: #0000ff;
}
.calculator .keys button.clear:hover{
    background-color: #ff0000;